<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <p>Here is your destination: {{ city }}</p>
    <p>Coordinates of destination: {{ destAddress }}</p>
    <p>-</p>
    <p>Your address: {{ startAddress }}</p>
    <p>Your coordinates: {{ coords }}</p>
    <p>Distance: {{ distance }} kilometers</p>
</head>
<body>

</body>
</html>